
<dom-module id="phone-carousel">
    <template>
        <style>
            img {
                max-width: 100%;
            }
            .left {
                display: inline-block;
            }
            .right {
                width: 500px;
                display: inline-block;
                vertical-align: top;
            }
            .hovered-image {
                height: 500px;
            }
            .carousel-heading {
                margin: 20px;   
            }
            .product-slides{
                display: flex;
            }
            .center {
                text-align: center;
            }
            #hovered-zoom-image {
                border: none;
                width: 320px;
                height:500px;
                display:inline-block;
                /*background-image:url({{image}});*/
                background-repeat:no-repeat;
            }
            .hovered-zoom-image-wrapper {
                display: none;
                position: absolute;
                left: 500px;
                top: 0px;
                pointer-events: none;
            }
            .hovered-image-wrapper {
                position: relative;
            }
            #hover-pointer-box {
                position: fixed;
                display: none;
                pointer-events: none;
            }
        </style>
        <div class="product-slides">
            <div class="left">
                <content></content>
            </div>
            <div class="right center hovered-image-wrapper">
                <img class="hovered-image" id="hovered-image" on-mousemove="zoomIn" on-mouseout="zoomOut" src$={{currentImage}}>
                <div class="right center hovered-zoom-image-wrapper" id="hovered-zoom-image-wrapper">
                    <img id="hovered-zoom-image" class="hovered-zoom-image">
                </div>
                <div id="hover-pointer-box">
                    <img src="/polymer-carousel/site/images/hover-pointer-box.jpg">
                </div>
            </div>
        </div>
    </template>
</dom-module>
<script type="application/javascript" src="phone-carousel.js"></script>
